name: Generate Stats Images

on:
  schedule:
    - cron: "0 0 * * *"  # Runs every day at midnight
  workflow_dispatch:  # Allows manual trigger
  push:
    branches:
      - main

jobs:
  generate-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Generate GitHub Stats SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: IChepe
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Mexico_City
          plugin_lines: yes
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          repositories_affiliations: owner, collaborator
          repositories_batch: 100
          
      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: IChepe
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
